@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04AA6D !important;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        gap: 80px;

        .languages {

            span {
                padding: 1px;
                font-weight: 600;
                cursor: pointer;
            }

            .language-vi {
                &.active {
                    transition: .2s linear;
                    color: #45c3d2;
                }
            }

            .language-en {
                &.active {
                    transition: .2s linear;
                    color: #45c3d2;
                }
            }
        }

        i {
            font-size: $base-size + 1px;
        }
    }
}